<div id="infoTransaction-Container" role="dialog" aria-modal="true" appTrapFocus *ngIf="classReference.isInfo" (click)="highlight()"
    [style.z-index]="classReference.zIndex + 1001">
    <h4 id="infoTransactionTitle">#{{classReference.index+1}}</h4>
    <button id="closebtn" aria-label="Close" (click)="closeWindow()">x</button>
    <hr class="separator-white">
    <div *ngIf="!isEdit">
        <div id="info-box">
            <h4 class="infoLableB">{{classReference.title}}</h4>
            <hr class="divider-black">
            <h4 class="infoLable mt-xs">{{'Fire.amount' | translate}}: {{classReference.amount |
                appNumber}} {{currency}}</h4>
            <div class="button-container">
                <button id="buyButton" (click)="buyAsset()">{{'Grow.buy' | translate}}</button>
                <button id="sellButton" (click)="sellAsset()">{{'Grow.sell' | translate}}</button>
            </div>
        </div>
        <button id="editbtn" class="btn btn--action" (click)="editAsset()">{{'Info.edit' | translate}}</button>
    </div>
    <div *ngIf="isEdit">
        <form id="input-container">
            <label for="title" [class.form-error-text]="classReference.isError">{{'AddAsset.name' | translate}}</label>
            <input type="text" id="title" name="title" [class.form-error-border]="classReference.isError" [(ngModel)]="titleTextField">
            <label for="amount">{{'Balance.Value' | translate}}</label>
            <input type=number step=any id="amount" name="amount" [(ngModel)]="amountTextField"
                class="mb-xs">
        </form>
        <p id="errorLable" *ngIf="classReference.isError">{{errorTextLable}}</p>
        <button id="addbtn" class="btn btn--action" (click)="updateAsset()">{{'Info.update' | translate}}</button>
        <button id="deletebtn" class="btn btn--danger" (click)="deleteAsset(classReference.index)">{{'Info.delete' | translate}}</button>
        <button id="canclebtn" class="btn btn--action" (click)="cancel()">{{'Info.cancel' | translate}}</button>
    </div>
</div>